<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="/template/assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="https://nolim1t.gitlab.io/nolim1t-co/template/assets/css/main.css" />
		<!-- React.js -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.2.1/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.2.1/react-dom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.6.16/browser.js"></script>
		<script src="https://nolim1t.gitlab.io/nolim1t-co/js/bower_components/moment/moment.js"></script>
		<script src="https://nolim1t.gitlab.io/nolim1t-co/js/bower_components/jquery/dist/jquery.min.js"></script>
		<!-- Vue.js -->
		<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
	  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
		<!--[if lte IE 9]><link rel="stylesheet" href="/template/assets/css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="/template/assets/css/ie8.css" /><![endif]-->
	</head>
	<body>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<h1><a href="/">@nolim1t</a></h1>
						<nav class="links">
							<ul>
								<li><a href="/opensource/">My Code</a></li>
								<li><a href="/projects/">My Projects</a></li>
								<li><a href="https://instagram.com/nolim1t">My Travels / Food</a></li>
								<li><a href="https://primal.net/profile/npub1z34a5nkxjv5rq5p7unuw3d3xh4an54uyyv4cys96zhyvhlu6qlxs4qnh9r">My Ramblings</a></li>
							</ul>
						</nav>
					</header>

					<section id="main">
						<!-- Intro -->
							<section id="intro">
								<header>
									<a href="https://secure.gravatar.com/avatar/6b16bda2d51458d1cee240ac671e7805?s=800&d=identicon" class="logo"><img src="https://secure.gravatar.com/avatar/6b16bda2d51458d1cee240ac671e7805?s=800&d=identicon" alt="" /></a>
									<h2>@nolim1t</h2>
									<p>Thoughts become things</p>
									<div id="helloreact"></div>
								</header>
							</section>

						<!-- Posts List -->
							{{ content }}

						<!-- About -->
							<section class="blurb">
								<br />
                                <h2>Who am I?</h2>
								<p>I write <a href="/opensource/"><strong>codes</strong></a>, work on <a href="/projects/"><strong>projects</strong></a> when inspiration strikes or when the opportunity happens, I am passionate about usability / user interaction (UX), I love new technology and trends (right now blockchain and Cannabis is hot), I enjoy <a href="https://itinerantfoodie.com/"><strong>being homeless</strong></a>, and I blog (ocassionally, but try to be regular)</p>
							</section>

						<!-- Footer -->
							<section id="footer">
								<ul class="icons">
									<li><a href="https://github.com/nolim1t" class="fa-github"><span class="label">Github</span></a></li>
									<li><a href="https://twitter.com/nolim1t" class="fa-twitter"><span class="label">Twitter</span></a></li>
									<li><a href="https://instagram.com/nolim1t" class="fa-instagram"><span class="label">Instagram</span></a></li>
									<li><a href="https://foursquare.com/nolim1t" class="fa-foursquare"><span class="label">foursquare</span></a></li>
									<li><a href="http://feeds.feedburner.com/nolim1tdotco" class="fa-rss"><span class="label"RSS Feed</span></a></li>
								</ul>
								<p class="copyright">&copy; Content: nolim1t.co. Design Inspired by <a href="http://html5up.net">HTML5 UP</a>. Images: <a href="http://unsplash.com">Unsplash</a>. Made with ❤︎  in Chiang Mai and Taipei. 100% <a href="/opensource/">Open Source Powered</a>. We ❤︎ Cypherpunks, so also powered by <a href="http://nlboxajljr5boevw3vyfryenhwqs5eehfh5pnbzjlnounrje5wulbnyd.onion"><img src="/tor-onion-square-icon.png" border="0" alt="TOR" /></a></p>
							</section>
					</section>
			</div>

		<!-- Scripts -->
			<script src="https://nolim1t.gitlab.io/nolim1t-co/template/assets/js/skel.min.js"></script>
			<script src="https://nolim1t.gitlab.io/nolim1t-co/template/assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="/template/assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="https://nolim1t.gitlab.io/nolim1t-co/template/assets/js/main.js"></script>
			<script type="application/javascript" src="https://nolim1t.co/js/qrcodegen.js"></script>
			<script src="https://nolim1t.co/js/addon-btc-lightning.js"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-77060790-1', 'auto');
  ga('send', 'pageview');

</script>
	</body>
</html>
