---
layout: default
---
<div id="main">
  <article class="post">
      <div id="main">
          <article class="post">
        <div class="title">
          <h2>{{ page.title }}</h2>
        </div>
        {{ content }}
      </div>
      <div class="meta">
        <time class="published" datetime="{{ page.date | date: '%Y-%m-%d' }}">{{ page.date | date_to_string }}</time>
      </div>
      <div class="meta">
        <a name="lnnetwork"></a>
        Like this post? Send us a little tip via  <strong><a onclick="toggleLNPay();  ">lightning ⚡️</a></strong> (what is <a href="http://lightning.network/">lightning ⚡️</a>?)
        <div id="lnpay" style="visibility: visible; ">
            <iframe width="840" height="345" src="https://zbd.gg/embed/nolim1t" frameborder="0" />
        </div>
      </div>
  </article>
  <div id="disqus_thread"></div>
</div>


<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = 'nolim1t-devs';
    var disqus_url = document.baseURI;

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-77060790-1', 'auto');
  ga('send', 'pageview');

</script>
